@import '@scss/config';
@import '@scss/mixins';

._ {
  display: inline-flex;
  align-items: center;
  margin: 0.25em 0.25em;
  padding: 0.35em;
  font-size: $text-sm;
}

.icon {
  $width: get-persent-of-size($canvas-cell-width, 80);
  $height: get-persent-of-size($canvas-cell-height, 80);

  @include size($width $height);
  position: relative;
  margin-left: 0.5em;
  border: 1px solid $text-color;
  overflow: hidden;

  &::before {
    @include size(150% 1px);
    @include position(absolute, 0 0);
    content: '';
    background: $text-color;
    transform-origin: 100% 100%;
    transform: rotate(-38deg);
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.label {
  margin-right: 0.75em;
}

.unit {
  margin-right: 0.5em;
}
