@import '@scss/config';
@import '@scss/mixins';

._ {
  display: inline-flex;
  align-items: center;
  margin: 0.25em 0.25em;
  padding: 0.35em;
  border: 1px solid $light-gray;
  font-size: $text-sm;
}

.icon {
  $width: get-persent-of-size($canvas-cell-width, 75);
  $height: get-persent-of-size($canvas-cell-height, 75);

  @include size($width $height);
  margin-right: 0.5em;
}

.label {
  margin-right: 0.75em;
}

.unit {
  margin-right: 0.5em;
}
