.dropdown {
  padding: 2em 0;
}

.caption {
  font-size: 1.8em;
}

.caption_text {
  display: inline-block;
  margin-right: 0.5em;
}

.content {
  display: flex;
}

.chevron {
  transition: transform .15s ease-in;
  transform: rotate(-180deg);
}

.is_collapsed {
  .content {
    display: none;
  }

  .chevron {
    transform: none;
  }
}
