@import '@scss/config';
@import '@scss/mixins';

._ {
  display: inline-block;
  border-collapse: collapse;  
  transform-origin: 0 0;
  transition: transform .1s ease;
  cursor: none;
}

.row {
  &::before, &::after {
    @include position(relative, 0.2rem);
    display: block;
    padding: 0 0.35em;
    width: $canvas-cell-width;
    content: attr(data-number);
    font-size: $text-xs;
  }

  &::before {
    text-align: right;
  }

  &:nth-child(odd) {
    &::after {
      opacity: 0;
    }
  }

  &:nth-child(even) {
    &::before {
      opacity: 0;
    }
  }
}
