@import '@scss/config';
@import '@scss/mixins';

._ {
  display: inline-block;
  border-collapse: collapse;  
  transform-origin: 0 0;
  transition: transform .1s ease;
  cursor: none;
}

@for $j from 0 through 10 {
  $scale: 1 + $j * 0.1;
  $size: 100 + $j * 10;

  .scale_#{$size} {
    transform: scale($scale);
  }
}
