@import '@scss/config';
@import '@scss/mixins';

._ {
  padding: 3rem 1rem;
}

.scale_box {
  transform-origin: 0 0;
  transition: transform .05s ease-in;
}

.report {
  padding-top: 1em;
  max-width: 70vw;
}
