@import '@scss/config';
@import '@scss/mixins';

._ {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  min-width: 3.5rem;
}

.active {
  // ...
}

.inactive {
  @include position(relative, 5px);
}
