@import '@scss/config';
@import '@scss/mixins';

._ {
  display: flex;
  position: relative;
}

.undo_redo {
  margin-right: $toolbar-offset;
}

.loops {
  padding-bottom: 1em;
}

.controls {
  display: flex;
  padding-left: 0.5em;
}

.element_button {
  margin-top: 0.15em;
  margin-left: 1em;
}
