@import '@scss/config';
@import '@scss/mixins';

.cell_container {
  position: relative;
  margin-top: $canvas-cell-height;
  max-width: 100%;
}

.rows_container {
  @include position(absolute, 0 (- $canvas-cell-height));
  display: flex;
  flex-direction: column;
  height: 100%;
}
