@import '@scss/config';
@import '@scss/mixins';

._ {
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4em;
    border: 2px dashed $light-gray;
    border-radius: $radius * 2;

    &:hover {
      border-color: $medium-blue;
    }

    &:focus {
      outline: none;
    }
  }
}

.hint {
  text-align: center;
  font-size: $text-sm;
}
