@import '@scss/config';
@import '@scss/mixins';

._ {
  @include position(fixed, 0 0 0 0);
  display: none;
  z-index: 100;

  &.is_open {
    display: block;
  }
}

.window {
  @include position(absolute, 50% 50%);
  padding: 1em;
  transform: translate(50%, -50%);
  background: white;
  box-shadow: 0 0 5px rgba(black, 0.25);
  border-radius: $radius;
  z-index: 110;
}
