@import '@scss/config';
@import '@scss/mixins';

$popup-tool-move: 5rem;

._ {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $light-gray;
  border-radius: $radius;
}

.tool {
  margin: 0.2rem;

  &:hover {
    .hint {
      display: block;
    }
  }
}

.hint {
  @include position(null, 0 null null 100%); 
  display: none;
  min-width: 18.5rem;
  margin-left: 0.2rem;
}

.popup_tool {
  @include position(absolute, null null null $popup-tool-move);
}

.colorpicker {
  z-index: 45;
}
