@import '@scss/config';
@import '@scss/mixins';

$space: 2rem;

._ {
  display: flex; 
  flex-directon: column;
}

.main {
  display: flex;
  flex-grow: 10;
}

.tools {
  margin-right: $space;
}

.loops {

}

.content {
  flex-grow: 10;
}
