@import '@scss/config';
@import '@scss/mixins';

.header {
  padding: 2em 0 3em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  display: flex;
  text-decoration: none;
  color: $text-color;
  align-items: baseline;
}

.logo_svg {
  margin-right: 1em;
}

.logo_note {
  @include position(relative, -1.5rem);
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight: 600;
}

.nav {
  display: flex;
}

.nav_link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 4.5em;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  font-weight: 500;

  path {
    transition: fill .15s ease-in;
  }

  &:hover {
    path {
      fill: $medium-red;
    }
  }
}
