@import '@scss/config';
@import '@scss/mixins';

.input {
  display: block;
  border: 1px solid $medium-gray;

  > input {
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    color: $dark-gray;
    line-height: 1;
  }
}

.text {
  border-radius: $radius;
}

.number {
  position: relative;
  border-radius: 10em;

  > input {
    text-align: center;
  }
}

.number_dec,
.number_inc {
  @include size(1em);
  @include position(absolute, 2px);
  display: inline-block;
  padding: $input-padding-y;
  box-sizing: content-box;
  border-radius: 50%;
  cursor: pointer;

  > svg {
    @include position(absolute, -3px -2px);
  }

  path, circle {
    stroke: lighten($medium-gray, 10%);
  }
}

.number_dec {
  left: 0;
}

.number_inc {
  right: 0;
}
