@import '@scss/config';
@import '@scss/mixins';

._ {
  display: table-cell;
  min-width: $canvas-cell-width;
  min-height: $canvas-cell-height;
  height: $canvas-cell-height;
  border: 1px solid $light-gray;
  text-align: center;
}

.is_selected {
  outline: 2px solid $medium-blue;
}
