@import '@scss/config';
@import '@scss/mixins';

._ {
  position: relative;
  display: table-cell;
  min-width: $canvas-cell-width;
  min-height: $canvas-cell-height;
  height: $canvas-cell-height;
  border: 1px solid $light-gray;
  text-align: center;
  -webkit-user-drag: none;
  user-select: none;
}

.loop {
  position: relative;
}

.is_selected {
  &::before {
    @include position(absolute, 0 0 0 0);
    content: '';
    display: flex;
    border: 1px solid $medium-gray;
    background: rgba(white, .5);
    z-index: 10;
  }
}

.is_dark_bg {
  svg * {
    fill: white;
  }
}

.report {
  @include size(80%);
  @include position(absolute, 50% 50%);
  transform: translate(50%, -50%);
  opacity: 0.75;
}
