@import '@scss/config';
@import '@scss/mixin';

.form {
  padding: 1em;
  max-width: 44rem;
  border: 1px solid $medium-blue;
  border-radius: 5px;
}

.field {
  display: flex;
  padding: 1.2rem 0;
}

.label {
  padding-right: 1em;
  min-width: 14rem;
}

.input {
  flex-grow: 10;
}
