@import '@scss/config';

.footer {
  height: 188px;
  background-color: $snow-gray;
  box-shadow: inset 0 4px 4px rgba(black, 0.25);
}

.logo {

  path {
    transition: fill .15s ease-in;
  }

  &:hover {
    path {
      fill: $brand-red;
    }
  }
}
