@import 'config';

@import 'mixins';

@import 'reboot';
@import 'type';

#__next {
  height: 100%;
}

// bootstrap overrites

.modal-content {
  padding: 1.5em;
  border: none;
  background: $snow-gray;
}

// modal width

#faq-modal {
  max-width: 75rem;
}

#download-modal {
  max-width: 44rem;
}
