@import 'config';

@import 'mixins';

@import 'reboot';
@import 'type';

#__next {
  height: 100%;
}

// react-color overrites

.sketch-picker {
  box-shadow: none !important;
  padding: 0 !important;

  .flexbox-fix {
    &:nth-child(3) { // disable rgb/hex panel
      display: none !important;
    }
  }
}

// bootstrap overrites

.modal-content {
  padding: 1.5em;
  border: none;
  background: $snow-gray;
}

// modal width

#faq-modal {
  max-width: 75rem;
}

#download-modal {
  max-width: 47rem;

  .modal-content {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
