@import '@scss/config';
@import '@scss/mixins';

._ {
  display: table;
  border-collapse: collapse;
}

.canvas {
  padding: .5em;
  margin: 0 .5em .5em 0;
  border: 1px solid $light-gray;
  border-radius: $radius;
}
