@import '@scss/config';
@import '@scss/mixins';

._ {
  @include size(4rem);
  position: relative;
  cursor: pointer;
  border-radius: $radius;
  transition: background .15s ease-in;

  &:hover {
    background: white;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
  }
}

.icon {
  @include position(absolute, 50% 50%);
  transform: translate(50%, -50%)
}
