@import '@scss/config';
@import '@scss/mixins';

$box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);

._ {
  @include size(4rem);
  position: relative;
  cursor: pointer;
  border-radius: $radius;
  transition: background .15s ease-in;

  &:hover {
    background: white;
    box-shadow: $box-shadow;
  }
}

.icon {
  @include position(absolute, 50% 50%);
  transform: translate(50%, -50%)
}

.option_icon {
  @include position(absolute, null 0 0);
}

.is_active {
  background: darken($light-gray, 10%);  
  box-shadow: $box-shadow;
}
