@import '@scss/config';
@import '@scss/mixins';

$icon-width: 5.2rem;

._ {
  padding: 3em 0;
}

.container {
  display: flex;
  justify-content: center;
}

.feature {
  display: flex;
  padding: 1.5em 0;
  margin-left: - $icon-width;
  align-items: center;
}

.feature_icon {
  @include size($icon-width 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature_text {
  font-size: 1.2em;
  margin-left: 2rem;
}

.button {
  margin-top: 2em;
  padding-left: $icon-width + 2rem;
}
